<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list  id="labels-list">
    <ion-item *ngFor="let note of (notes.notes|async).list" lines="none">

      <div slot="start" class="dot dot-unread"></div>
      <ion-label class="ion-text-wrap">
        <h2>
          {{note["Category"]["name"]}}
          <span class="date">
            <ion-note >{{(note["time_stamp"]|date:'YY-MM-dd HH:mm')}}</ion-note>
          </span>
        </h2>
        <h3>{{note["name"]}}</h3>
        <p>
          {{note["description"]}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button  class="ion-color-success ion-margin-bottom note-button">Add Note </ion-button>

</ion-content>
